makefile.prj
setup_cvinstaller.py
GNUmakefile

.gitignore

*.pyc
*.bat
/CVS
/packages
/cvcmd
__pycache__

*/.pyc
*/.bat
*/CVS/
*/docs/
*/packages/
*/cvcmd/
*/__pycache__

*/*/CVS/
*/*/.pyc
*/*/__pycache__

*/*/*/.pyc
*/*/*/CVS
*/*/*/__pycache__

*/*/*/*/.pyc
*/*/*/*/CVS
*/*/*/*/__pycache__

*/*/*/*/*/.pyc
*/*/*/*/*/CVS
*/*/*/*/*/__pycache__
